.navigation {
  display: flex;
  align-items: center;
}

.nav-list,
.nav-auth {
  margin: 0;
  padding: 0;
  display: flex;
}


.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  padding: 32px 0px;
  font-weight: $SecondoryFontWeight;
  font-size: $PrimeryTextSize;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primery-text-color;
  font-weight: 500;
}

.nav-link {
  display: flex;
  align-items: center;
  color: $sec-text-color;
  margin-right: 50px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $trans-duration;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-link.current {
  position: relative;
  color: $accent-color;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}
