.page-header {
  background-color: $WhiteBgColor;
  border-bottom: 1px solid #ececec;

  .conteiner {
    display: flex;
    justify-content: space-between;
  }
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}
